[submodule "lib/twss.js"]
	path = lib/twss.js
	url = https://github.com/martindale/twss.js.git
[submodule "lib/simple-lastfm"]
	path = lib/simple-lastfm
	url = https://github.com/martindale/simple-lastfm.git
[submodule "lib/plugapi"]
	path = lib/plugapi
	url = https://github.com/martindale/plugapi.git
