extends layout

block content

  h1 BOYCEY
  h2 Our Illustrious Leader and Ruthless Destroyer of Insectoids

  p Our tribute to you.

  img(src="http://i.imgur.com/QkiZxEC.gif", style="max-width: 100%;")