extends layout

block content
  header.jumbotron.subhead
    .container
      h1 Commands
      p.lead
        | Commands available on chat.
  br
  .container
    code
      - for command in commands
        | !#{command}
        | 
