extends layout

block content
  header.jumbotron.subhead
    .container
      h1 Top DJs
      p.lead
        | Best DJs in the room.
  br
  .container
    .row
      .span6
        h2 by Karma
        - for dj in djs
          include blocks/dj
      .span6
        h2 by Plays
        - for dj in monthlyDJs
          include blocks/dj