extends layout

block content
  header.jumbotron.subhead
    .container
      form(method="post", action='/djs').form-search.form-inline.pull-right
        input(type="text", name="q", placeholder="search...").search-query
      h1 Top DJs
      p.lead
        | Best DJs in the room.
  br
  .container
    .row
      .span4
        h2 by Karma
        - for dj in djs
          small.pull-right ...with <strong>#{dj.karma}</strong> karma.
          include blocks/dj
      .span4
        h2 by Plays <small>30 days</small>
        - for dj in monthlyDJs
          small.pull-right ...with <strong>#{dj.plays}</strong> plays.
          include blocks/dj
      .span4
        h2 by Points
        - for dj in mostPoints
          small.pull-right ...with <strong>#{dj.points.dj}</strong> points.
          include blocks/dj