extends layout

block content
  header.jumbotron.subhead
    .container
      h1 History
      p.lead
        | Songs we played lately.
  br
  .container
    - for song in history
      include blocks/song