doctype html
html
  head
    meta(charset="utf-8")
    title Coding Soundtrack

    meta(itemprop="name", content="Coding Soundtrack: Music for Programmers")
    meta(itemprop="description", content="Coding Soundtrack is fresh musical entertainment for those with robot ears. We play non-distracting music for coding sessions, and provide a creative community of Programmers, Developers, Administrators, Engineers, Hackers, and a Troll. They come for the Music, they stay for the Lolz.")
    meta(itemprop="image", content="/img/mixer.jpg")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      .subhead {
        margin-top: 40px;
      }
    link(rel="stylesheet", href="/css/bootstrap.css")
    style.
      #wide {
        background-repeat: no-repeat;
        background-position: center;
      }
      .stage {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }
      .stage a {
        font-size: 1.5em;
        font-weight: bold;
        width: 20%;
        display: inline-block;
      }
      .stage a:hover, .chat-message a:hover {
        text-decoration: none;
      }
      .stage a span {
        display: block;
      }
      .plug-sprite {
        width: 150px;
        height: 150px;
      }
      footer {
        font-size: 0.8em;
      }
      .top-padded {
        padding-top: 60px;
      }
      .no-push {
        margin-bottom: 0;
      }

    link(rel="stylesheet", href="/css/bootstrap-responsive.css")
    link(rel="stylesheet", href="/css/screen.css")

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-mini.pull-right(href="http://plug.dj/coding-soundtrack", style="margin-top: 0.8em;") &#9835; Listen Now &raquo;
          a.brand(href="/") &#9835; Coding Soundtrack
          ul.nav
            li.active
              a(href="/") Home
            li
              a(href="/rules") Rules
            li
              a(href="/songs") Songs
            li
              a(href="/djs") DJs
            li
              a(href="/history") History
            li
              a(href="/chat") Chat


    if wideformat
      #wide
        .container.top-padded
          .alert.no-push
            h3 We've Moved!
            p Coding Soundtrack is now <a href="https://soundtrack.io">soundtrack.io</a>.  This site is only available for archival purposes!
        block content
    else
      .container.top-padded
        .alert.no-push
          h3 We've Moved!
          p Coding Soundtrack is now <a href="https://soundtrack.io">soundtrack.io</a>.  This site is only available for archival purposes!
      block content

    .container
      footer
        hr
        .row
          .span6

            .g-plus.pull-right(data-height="69", data-href="//plus.google.com/103972776808088576698", data-rel="publisher")

            h5
              a(href="/about") About
              |  &bull; 
              a(href="/commands") Command List
              |  &bull; 
              a(href="/song-selection") Song Selection Guide
              |  &bull; 
              a(href="/rules") Rules
              |  &bull; 
              a(href="https://plus.google.com/103972776808088576698", rel="publisher") Google+


            p <a href="http://github.com/martindale/snarl">snarl</a> has been listening since #{oldestPlay.timestamp}.
            p
              | <a href="http://github.com/martindale/snarl">snarl</a> is &copy; 
              a(href="http://www.ericmartindale.com/", rel="author") Eric Martindale
              | , with credit to 
              a(href="http://plug.dj") plug.dj
              |  for providing the platform and 
              a(href="https://github.com/chrisinajar") chrisinajar
              |  for creating 
              a(href="https://github.com/chrisinajar/plugapi") plugapi
              | .

          .span6

            h4 About Us
            p Coding Soundtrack is fresh musical entertainment for those with robot ears. We are a community based around <a href="http://plug.dj/coding-soundtrack">a plug.dj room</a> where we play non-distracting music for coding sessions, and provide a creative community of Programmers, Developers, Administrators, Engineers, Hackers, and a Troll. They come for the Music, they stay for the Lolz.

    script(src="//code.jquery.com/jquery-1.8.3.min.js")
    script(src="/js/bootstrap.js")
    script(src="/js/jquery.timeago.js")

    script.
      $('.plug-sprite').each(function() {
        var self = this;
        setInterval(function() {
          $(self).css('background-position-x', (parseInt($(self).css('background-position-x')) - 150) + 'px');
        }, 83);
      });

      $('.timeago').timeago();

    block scripts

    - if (typeof(config.ga.account) != 'undefined' && config.ga.account.length > 0)
      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{config.ga.account}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
