!!! 5
html
  head
    meta(charset="utf-8")
    title Coding Soundtrack
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="/css/bootstrap.css")
    style
      body {
        padding-top: 60px;
      }
      .stage {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }
      .stage a {
        font-size: 1.5em;
        font-weight: bold;
        width: 20%;
        display: inline-block;
      }
      .stage a:hover, .chat-message a:hover {
        text-decoration: none;
      }
      .stage a span {
        display: block;
      }
      .plug-sprite {
        width: 150px;
        height: 150px;
      }
    link(rel="stylesheet", href="/css/bootstrap-responsive.css")
    
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-mini.pull-right(href="http://plug.dj/coding-soundtrack", style="margin-top: 0.8em;") &#9835; Listen Now &raquo;
          a.brand(href="/") &#9835; Coding Soundtrack
          ul.nav
            li.active
              a(href="/") Home
            li
              a(href="/history") Track History
            li
              a(href="/djs") DJs
            li
              a(href="/songs") Songs
            li
              a(href="/chat") Chat
              

    .container
      block content

      footer
        hr
        small.pull-left
          a(href="/about") About
          |  &bull; 
          a(href="/commands") Command List
        small.pull-right
          | snarl is &copy; 
          a(href="http://www.ericmartindale.com/") Eric Martindale
          | , with credit to 
          a(href="http://plug.dj") plug.dj
          |  for providing the platform and 
          a(href="https://github.com/chrisinajar") chrisinajar
          |  for creating 
          a(href="https://github.com/chrisinajar/plugapi") plugapi
          | .


    script(src="//code.jquery.com/jquery-1.8.3.min.js")
    script(src="/js/bootstrap.js")

    - if (typeof(config.ga.account) != 'undefined' && config.ga.account.length > 0)
      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{config.ga.account}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
