!!! 5
html
  head
    meta(charset="utf-8")
    title Coding Soundtrack
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      .subhead {
        margin-top: 40px;
      }
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.css")
    link(rel="stylesheet", href="/css/extra.css")
    
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Coding Soundtrack
          ul.nav
            li.active
              a(href="/") Home
            li
              a(href="/rules") Rules
            li
              a(href="/songs") Songs
            li
              a(href="/djs") DJs
            li
              a(href="/history") History
            li
              a(href="/chat") Chat
              
    block content

    .container
      footer
        hr
        .row
          .span6
            h5
              a(href="/about") About
              |  &bull; 
              a(href="/commands") Command List
              |  &bull; 
              a(href="/song-selection") Song Selection Guide
              |  &bull; 
              a(href="/rules") Rules

            p <a href="http://github.com/martindale/snarl">snarl</a> has been listening since #{oldestPlay.timestamp}.
            p
              | <a href="http://github.com/martindale/snarl">snarl</a> is &copy; 
              a(href="http://www.ericmartindale.com/", rel="author") Eric Martindale
              | , with credit to 
              a(href="http://plug.dj") plug.dj
              |  for providing the platform and 
              a(href="https://github.com/chrisinajar") chrisinajar
              |  for creating 
              a(href="https://github.com/chrisinajar/plugapi") plugapi
              | .
          .span6
            h4 About Us
            p Coding Soundtrack is fresh musical entertainment for those with robot ears. We are a community based around <a href="http://plug.dj/coding-soundtrack">a plug.dj room</a> where we play non-distracting music for coding sessions, and provide a creative community of Programmers, Developers, Administrators, Engineers, Hackers, and a Troll. They come for the Music, they stay for the Lolz.

    script(src="//code.jquery.com/jquery-1.8.3.min.js")
    script(src="/js/bootstrap.js")

    script
      $('.plug-sprite').each(function() {
        var self = this;
        setInterval(function() {
          $(self).css('background-position-x', (parseInt($(self).css('background-position-x')) - 150) + 'px');
        }, 83);
      });

    block scripts

    - if (typeof(config.ga.account) != 'undefined' && config.ga.account.length > 0)
      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{config.ga.account}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();