extends layout

block content
  h1 new player.

  iframe.pull-right(src="http://plug.dj/_/popout/", height="500", frameborder="0", style="clear:both; display:block;")

  #room
    #stage

  br(style="clear:both;")