extends layout

block content
  header.jumbotron.subhead
    .container
      h1 Rules
      p.lead
        | The ten commandments.
  br
  .container
    h4 0. No Auto-DJ scripts allowed (you can get kicked from booth)
    h4 1. No bitching about song selection (if you don't like it, click Meh)
    h4 2. No unfunny trolling attempts (if you're going to troll, do it right!)
    h4 3. Don't go AFK while DJ'ing, after 10 minutes you may get kicked from booth.
    h4 4. Auto-Woot strongly ENCOURAGED, required if you are a DJ.
    h4 5. Play music that's not distracting for those knee deep in C++.
    h4 6. Don't spam the chat with links to other rooms and/or your stupid Facebook (if you're caught, kick)
    h4 7. Don't take anything we say too seriously (except those rules)
    h4 8. ???
    h4 9. Profit!

    small.muted The list starts with 0. Get it?