extends layout

block content
  header.jumbotron.subhead
    .container
      h1 Rules
      p.lead
        | The ten commandments.
  br
  .container 
    h4 1. NO AUTO DJ SCRIPT ALLOWED! DAS BOOT!
    h4 2. No bitching about peoples song selection (If you don’t like it, click lame)
    h4 3. No unfunny Trolls (If you’re going to troll, do it right!)
    h4 4. Don’t go AFK while djing. After ten minutes automatic DAS BOOT!
    h4 5. Autobop Strongly ENCOURAGED, required if you are a DJ.
    h4 6. Play music that is not distracting for those knee deep in programming.
    h4 7. Don’t spam the chat with links to other rooms and/or your stupid facebook (if you’re caught, DAS BOOT!)
    h4 8. Don’t take anything we say too seriously.
    h4 9. ??????????
    h4 10. Profit