extends layout

block content
  
  h1 Song Selection Guide

  p The Coding Soundtrack is first and foremost an Electronic Music room. It’s important to try and pick songs that are not distracting to those knee deep in C++.  Of course non distracting is subjective, but the general rule of thumb is songs that do not contain a lot of lyrical content.

  p The most common genres you’ll hear:
    ul
      li Electro
      li House
      li Dubstep
      li Trance
      li NerdCore
      li Indie Dance
      li Will Smiff

  p Please do not troll us.
