extends layout

block content
  h1 Top Tracks
  ol
    - for song in songs
      li
        a(href="/songs/#{song.id}") #{song.author} &mdash; #{song.title}
        |  was played <strong>#{song.plays}</strong> times.